<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- <svg class="icon icon--white">
        <use xlink:href="im#chevron"></use>
      </svg> -->
    <img
      class="icon icon--white collapsible__chevron"
      src="/images/chevron.svg"
      alt="A svg icon"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
    aspernatur.
  </div>
</div>
<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- <svg class="icon icon--white">
        <use xlink:href="im#chevron"></use>
      </svg> -->
    <img
      class="icon icon--white collapsible__chevron"
      src="/images/chevron.svg"
      alt="A svg icon"
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
    aspernatur.
  </div>
</div>
<script src="js/main.js"></script>
